<style>
  body {
      text-align: right;
      background: white;
      color: black;
      font-family: helvetica;
      line-height: 0.5;
      
    }
    h1 {
       font-size: 40px

}
  </style>
